.main-configuration {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actionable-configurations {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actionable-configurations button{
    margin-right: 16px;
}
