.main-configuration {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actionable-configurations {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actionable-configurations button {
    margin-right: 16px;
}

.actionable-configurations div {
    margin-right: 16px;
}

.share-icon-div {
    cursor: pointer;
}

#share-input {
    display: none;
}

#share-alert-text {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: small;
    width: 6em;
    height: 1.6em;
    position: relative;
    left: 0px;
    top: -7px;
    border-radius: 4px;
}
