.container {
    height: 100vh;
    width: 100vw;
    min-width: 240px;
    min-height: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

header {
    width: 100vw;
    font-size: larger;
    margin: auto;
}

footer {
    width: 100vw;
    font-size: larger;
    margin: auto;
}

.error-row {
    border-top:1px solid #FF0000;
    border-bottom:1px solid #FF0000;
}

.error-column {
    border-left:1px solid #FF0000;
    border-right:1px solid #FF0000;
}

.error-box {
    border:1px solid #FF0000;
}
